
<%= form_for(track) do |f| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @conference = Conference.find_by_id(1) %>

  <div class="field">
    <%= f.label :role %>
    <%= f.select :role,  ["Author", "PC Member"] %>
  </div>

 
  <div class="field">
    <%= f.label :conference_id %>
    <%= f.collection_select :conference_id, Conference.all, :id, :name, include_blank: false %>
    <% #@conference = Conference.find_by_id(params[conference_id]) %>
    <% if @conference == nil%>
    <% @conference = Conference.find_by_id(1) %>
    <% end %>
    <% f.text_field :conference_id %>
  </div>
  
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>