
<%= form_for([conference,track]) do |f| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %>
    <%= f.select :role,  ["Author", "PC Member"] %>
  </div>

 
  <div class="field">
    <%= f.label :conference_id %>
    <% if conference != nil%>
    <%= f.select(:conference_id, options_for_select([[conference.name, conference.id]])) %>
    <% else %>
      <%= f.collection_select :conference_id, Conference.all, :id, :name, include_blank: false %>
    <% end %>
    <% f.text_field :conference_id %>
  </div>
  
  
  <div class="field">
    <%= f.label :committee_id %>
    <% if conference != nil%>
      <%= f.collection_select :committee_id, conference.committees, :id, :name %>
    <% else %>
      <%= f.collection_select :committee_id, Committee.all, :id, :name, include_blank: false %>
    <% end %>
  </div>
  
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>