<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @track.role %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @track.conference %>
</p>

<p>
  <strong>Account:</strong>
  <%= @track.account %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
