<p id="notice"><%= notice %></p>

<br />
<br />
<h1>Conferences</h1>


<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <% @state =false %>
        <% conference.tracks.each do |track| %>
          <% if(track.userid == current_account.id && track.role == "Chair") %>
            <% @state = true %>
          <% end %>
        <% end %>
        <td><%= conference.name %></td>
        <td><%= link_to 'Show', conference %></td>
        <% if(@state) %>
          <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
          <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
