<br />
<br />
<p id="notice"><%= notice %></p>
<h1> Conference: <%= @conference.name %></h1>

<table class = "table table-bordered table-striped">
    <thead>
        <tr>
            <% @state1 =false %>
            <% @state2 =false %>
            <% if(current_account != nil) %>
            <% @conference.tracks.each do |track| %>
                <% if (track.userid == current_account.id && track.role == "PC Chair") %>
                    <% @state1 =true %>
                    <% break %>
                <% end %>
                <% if (track.userid == current_account.id && track.role == "PC Member") %>
                    <% @state2 =true %>
                    <% break %>
                <% end %>
            <% end %>
            <% end %>
            <th>Title</th>
            <th>Author</th>
            <th>Download Link</th>
            <th>Reviews</th>
            <th>Status</th>
            <% if (@state1) %>
                <th>Manage Paper</th>
            <% end %>
            <% if (@state2) %>
                <th>Review Link</th>
            <% end %>
        </tr>
    </thead>
    <tbody> 
  <% @conference.papers.each do |paper| %>
     <tr>
       <td><%= paper.title %></td>
       <td><%= paper.author %></td>
        <td><%= link_to "Download Paper", paper.attachment_url %></td>
        <td><%= link_to 'Reviews', paper %></td>
        <% if (paper.rating >= 5.5 and paper.accepted) %>
            <td><%= "Accepted with rating of " + "%05.2f" % paper.rating %></td>
        <% else %>
            <td><%= "Not accepted with rating of " + "%05.2f" % paper.rating %></td>
        <% end %>
        <% if (@state1 && paper.accepted == false) %>
        <td><%= button_to "Accept",  accept_paper_path(id = paper.id), class: "btn btn-danger", data: { confirm: "Are you sure that you wish to accept #{paper.title}?"} %></td>
        <% else %>
        <td><%= button_to "Decline",  decline_paper_path(id = paper.id), class: "btn btn-danger", data: { confirm: "Are you sure that you wish to decline #{paper.title}?"} %></td>
        <% end %>
        <% if (@state2) %>
        <td><%= link_to "Review paper", new_review_path(id: paper.id) %></td>
        <% end %>
        
     </tr>
    <% end %>
 </tbody>
</tbody>


<%= link_to 'New Paper', new_paper_path %>
<%= link_to 'Back', conferences_path %>
