<br />
<br />
<p id="notice"><%= notice %></p>
<h1> Conference: <%= @conference.name %></h1>
<% @state3 = false %>
<% if(current_account != nil) %>
  <% if (@conference.chairid == current_account.id) %>
      <% @state3 =true %>
  <% end %>
<% end %>
<% if (@state3) %>
      <%= link_to 'Add Committee ', new_conference_committee_path(@conference) %>
  <% end %>
           
        
<table class = "table table-bordered table-striped">
    <thead>
        <tr>
            <th>Committee Name</th>
            <th>Papers</th>
            <th>Tracks</th>
            <th>Number of members</th>

            <% if (@state3) %>
                <th>Manage</th>
          
                <th>Delete</th>
            <% end %>
        </tr>
    </thead>
    <tbody> 
     <% @conference.committees.each do |committee| %>
     <tr>
        <td><%= committee.name %></td>
       <td><%= link_to 'Papers', committee %></td>
       <td><%= link_to 'Tracks', members_committee_path(committee) %></td>
        <td><%= committee.tracks.count + 2 %></td>
        <% if (@state3) %>
            <td><%= link_to 'Edit', edit_committee_path(committee) %></td>
            <td><%= link_to 'Destroy', committee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
     </tr>
     <% end %>
 </tbody>
</tbody>
<%= link_to 'Join Conference ', new_conference_track_path(@conference) %>
<%= link_to 'Back ', conferences_path %>
