<%= form_for([conference,committee]) do |f| %>
  <% if committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  
   <div class="field">
    <%= f.label :user_id %>
    <%= "Person to be PC Chair." %>
       <%= f.collection_select :user_id, User.order(:name),:id,:name, include_blank: false %>
  </div>
  

  <div class="field">
    <%= f.label :conference_id %>
    <% if conference != nil%>
    <%= f.select(:conference_id, options_for_select([[conference.name, conference.id]])) %>
    <% else %>
      <%= f.collection_select :conference_id, Conference.all, :id, :name, include_blank: false %>
    <% end %>
    <% f.text_field :conference_id %>
  </div>
  
 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
