<br />
<br />
<p id="notice"><%= notice %></p>
<h1> Committee: <%= @committee.name %> of Conference: <%= @committee.conference.name %></h1>
<% @state3 = false %>
<% if(current_account != nil) %>
  <% if (@committee.user.id == current_account.id) %>
      <% @state3 =true %>
  <% end %>
<% end %>
 <% @state3 =false %>
<table class = "table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <% if (@state1) %>
                <th>Manage</th>
            <% end %>
        </tr>
    </thead>
    <tbody> 
     <tr>
         <% @user = User.find_by_id(@committee.conference.chairid)%>
         <% if @user != nil %>
           <td><%= @user.name %></td>
         <% else %>
           <td><%= "None" %></td>
         <% end %>
       <td>Conference Chair</td>
       
     </tr>
     <tr>
         <% @user = @committee.user %>
         <% if @user != nil %>
           <td><%= @user.name %></td>
         <% else %>
           <td><%= "None" %></td>
         <% end %>
       <td>PC Chair</td>
     </tr>
  <% @committee.tracks.each do |track| %>
     <tr>
         <% @user = User.find_by_id(track.userid)%>
        <% if @user != nil %>
       <td><%= @user.name %></td>
       <td><%= track.role %></td>
        <% if (@state3) %>
            <td><%= "Accepted" %></td>
        <% end %>
        <% end %>
     </tr>
    <% end %>
 </tbody>
</tbody>
<%= link_to 'Back', @committee.conference %>