<%= form_for([committee,paper]) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :committee_id %>
    <% if committee == nil %>
      <%= f.collection_select :committee_id, Committee.all, :id, :name %>
    <% else %>
      <%= f.select(:committee_id, options_for_select([[committee.name, committee.id]])) %>
    <% end %>
    <% f.text_field :committee_id %>
  </div>
  
  <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
