<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<h1>Papers</h1>

<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Download Link</th>
      <th>Delete Method</th>
      <th>Review Link</th>
      <th>Reviews</th>
      
    </tr>
  </thead>
  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.title %></td>
        <td><%= paper.author %></td>
        <td><%= link_to "Download Paper", paper.attachment_url %></td>
        <td><%= button_to "Delete",  paper, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure that you wish to delete #{paper.title}?"} %></td>
        <td><%= link_to "Review paper", new_review_path %></td>
        <td><%= link_to 'Reviews', paper %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<%= link_to "New Paper", new_paper_path, class: "btn btn-primary" %>
