<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %>(0-10)
    <%= f.number_field :score %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>

  <div class="field">
    <%= f.label :paper_id %>
    <%= f.collection_select :paper_id, Paper.order(:title),:id,:title, include_blank: false %>
    <% f.text_field :paper_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
