<br />
<br />
<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @review.paper.attachment_url %>
</p>

<%= link_to 'Back', @review.paper %>
