<li><%= link_to "Home", conferences_path(spa: false) %></li>      
<li><%= link_to "Home (SPA)", conferences_path(spa: true) %></li>

<% if account_signed_in? %>
  <% if current_account.accountable_type == "SuperAccount" %>
        <li><%= link_to 'Admin Dashboard', admin_root_path %></li>   
        
    <% else %>
    <% if current_account.accountable_type != "SuperAccount" %>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Settings (<%= (current_account.accountable.name.nil? or current_account.accountable.name == "") ? "No Name" : current_account.accountable.name %>) <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            
            <%if current_account.accountable_type == "User" %>
                <li><%= link_to 'User Profile', edit_user_path(current_account.accountable_id) %></li>
                <li><%= link_to 'Your conferences', showid_conference_path(id = current_account.id) %></li>
                <li><%= link_to 'Your reviews', showid_review_path(id = current_account.id) %></li>
                <li><%= link_to 'Your committees', showid_committee_path(id = current_account.id) %></li>
                <li><%= link_to 'Tracks', tracks_path %></li>
                <li><td><%= link_to 'Your papers', showid_paper_path(id = current_account.id) %></td></li>
            <%end%>
            <li><%= link_to 'Account Settings', edit_account_registration_path %></li>
        </ul>
    </li>
 <% end %>
  <% end %>
    <li><%= link_to 'Sign out', destroy_account_session_path, :method=>'delete' %></li>

<% else %>
    <li><%= link_to 'Sign in', new_account_session_path %></li>
    <li><%= link_to 'Sign up', new_account_registration_path %></li>

<% end %>
<% if account_signed_in? %>
<% if current_account.accountable_type == "SuperAccount" %>
<li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Links <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
                <li><%= link_to 'Conference', conferences_path %></li>
                <li><%= link_to 'Review', reviews_path %></li>
                <li><%= link_to 'Paper', papers_path %></li>
        </ul>
    </li>
<% end %>
<% end %>





