<!DOCTYPE html>
<html>
<head>
  <title>Uneasy Chair</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
   <header>
      <%= render 'layouts/navigation' %>
  </header>
    
    </header>
    <div class="container">
      <%= yield %>
      <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
